.calculator {
    border: 2px solid black;
    width: 450px;
}

.display {
    height: 120px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.clear.buttons > #btn-clear {
    justify-content: flex-start;
    flex-grow: 1;
    margin-left: 15px;
}
#btn-delete {
    /* justify-content: flex-start; */
    flex-grow: 1;
    margin-right: 30px;
}

button {
    height: 90px;
    width: 90px;
}